.formAlignCenter{
    margin-top: 3rem;
    align-items: flex-start;
    text-align: center;
}

h1{
    font-size: 1.6rem;
}

.centerDetails{
    font-size: .9rem;
    width: 5rem;
}

.centerStyle
    {
        display: 'grid',
}
      
