@import './styles/forms';

body{
    background: rgb(255, 255, 255);
    // background: linear-gradient(0deg, rgba(6,20,85,1) 0%, rgba(118,146,186,1) 100%);
    // color: white;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    color: black;
    font-size: 1.6rem;
}

.navbar{
    align-items: center;
    display:flex;
    background: rgb(127, 143, 211);
    background: linear-gradient(0deg, rgb(76, 106, 236) 0%, rgba(118,146,186,1) 100%);
    height: 2rem;
    justify-content: space-between;
.navbar-nav{
    display: flex;
    padding: 1rem 1.2rem;
    .navbar-item{
        font-size: 1rem;
        padding: 25px;
        text-align: -webkit-center;
        padding: 1rem 1.5rem ;
        display:flex;
        justify-content: left;
        &:hover{
            color: black;
            background-color: #ddd;
            border-radius: 20px;
            font-size: 1rem;
            transform: scale(1);
            transition: transform .2s, .2s width .2s cubic-bezier(1, -0.16,0 ,1.32);
        }
    }
}
}

@media (max-width:1200px){
    html {
        font-size: 100%;
    }
}

@media (max-width:900px){
    html {
        font-size: 75%;
    }
}


@media (max-width:600px){
    html {
        font-size: 50%;
    }
}