body{
    margin:10px;
    background: rgb(6,20,85);
    background: linear-gradient(0deg, rgba(6,20,85,1) 0%, rgba(118,146,186,1) 100%);
    background-repeat: repeat;
    color: white;
    height: 100vh;
}